
.cntnr{
      display: flex;
      align-items: center;
      justify-content: center;
    }

.button1 {
  color: black;
}
button:hover {
  transform: scale(0.9, 0.9) translate(0px, 5px);

  filter: drop-shadow(0px 0px 10px);
}
button:active {
  background: #3f444c;
}
button:focus {
  outline: 50px;
}
button {
  line-height: 1em;
  font-family: "Poor Story", light;
  filter: drop-shadow(18px 18px 3px rgba(0, 0, 0, 0.4));

  font-size: 15px;
  background: rgba(43, 43, 43, 0.31);
  opacity: 0.7 ;
  height: px;
  width: px;
  border-style: solid;
  border-color: #252528;
  border-radius: 9px;
  border-width: 1px;
  z-index: 5;
  transition: all 0.2s ease-in-out;
  padding: 1em;
}

